<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-ui-grid/ui-grid.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" type="text/css" href="bower_components/angular-ui-grid/ui-grid.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">


    <!-- endbuild -->
  </head>
  <body ng-app="angularImperativeCodebaseApp" ng-controller="MainCtrl as main">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
      <div class="navbar navbar-default" role="navigation">
        <a class="navbar-brand title" href="#/">The Drone Shop</a>
        <i class="glyphicon glyphicon-home"></i>
      </div>
    <div class="container white-box">
      <div class="float-left">
        <div><img class="profile-pic" ng-src="{{details.url}}"/></div>
        <div> {{userName}}</div>
      </div>
      <div class="float-right"> 
        <div> Role: {{details.roleType}}</div> 
        <div> Bio: {{details.bio}} </div>
        <div> Role: {{details.role}} </div>
      </div> 
    </div> 
    <div class="create-form"> 
      <h2> Create Form</h2> 
      <form> 
        <h4> Model Name</h4>
        <input type="text" ng-model="main.newModelNumber"> </br>
        <h4> Model Number </h4>
        <input type="text" ng-model="main.newModelName"> </br> 
        <button class="button" ng-click="createCall(main.newModelName, main.newModelNumber)">Create</button>  
      </form>
    </div>
    <div class="container">

      <div class="main-table">
        <div id="grid1" ui-grid="gridOptions" ui-grid-selection></div>
      </div>
      
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse"></button>
      
    </div>

    <div class="details-table">
        <div id="grid2" ui-grid="detailedOptions"></div>
      </div>
    <modal visible="showModal">
      Any additional data / buttons
    </modal>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-ui-grid/ui-grid.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <script src="bower_components/angular-ui-grid/ui-grid.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap-theme.css">


        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/directives/modal.js"></script>
        <script> 
          $('main').addClass('main-table');
        </script>
        <!-- endbuild -->
</body>
</html>
